.popup-terminal {
  .popup-content {
    padding: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    // The terminal container fills the entire content area.
    > div {
      flex: 1;
      width: 100%;
      height: 100%;
      background: #000;
    }
  }
}
