---
Checks:            '*,
                    -altera-struct-pack-align,
                    -altera-unroll-loops,
                    -altera-id-dependent-backward-branch,
                    -bugprone-easily-swappable-parameters,
                    -bugprone-reserved-identifier,
                    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
                    -cert-dcl51-cpp,
                    -cert-dcl37-c,
                    -clang-analyzer-security.insecureAPI.strcpy,
                    -clang-analyzer-valist.Uninitialized,
                    -clang-diagnostic-empty-translation-unit,
                    -clang-diagnostic-gnu-statement-expression,
                    -cppcoreguidelines-avoid-do-while,
                    -cppcoreguidelines-avoid-magic-numbers,
                    -cppcoreguidelines-avoid-non-const-global-variables,
                    -cppcoreguidelines-macro-usage,
                    -cppcoreguidelines-owning-memory,
                    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                    -cppcoreguidelines-pro-type-vararg,hicpp-vararg,
                    -cppcoreguidelines-pro-type-reinterpret-cast,
                    -cppcoreguidelines-pro-type-union-access,
                    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                    -fuchsia-default-arguments-calls,
                    -fuchsia-default-arguments-declarations,
                    -hicpp-no-array-decay,
                    -hicpp-vararg,
                    -hicpp-signed-bitwise,
                    -llvm-header-guard,
                    -llvm-include-order,
                    -llvm-else-after-return,
                    -llvmlibc-callee-namespace,
                    -llvmlibc-implementation-in-namespace,
                    -llvmlibc-restrict-system-libc-headers,
                    -llvmlibc-inline-function-decl,
                    -misc-non-private-member-variables-in-classes,
                    -misc-no-recursion,
                    -modernize-use-trailing-return-type,
                    -modernize-use-using,
                    -modernize-use-nodiscard,
                    -modernize-type-traits,
                    -readability-else-after-return,
                    -readability-function-cognitive-complexity,
                    -readability-identifier-length,
                    -readability-magic-numbers,
                    -readability-suspicious-call-argument'
