@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);
  --primary: hsl(220.47 98.26% 36.08%);
  --primary-foreground: hsl(210 40% 98%);
  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(222.2 47.4% 11.2%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 92.99% 56.11%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(220.67 97.83% 36.08%);
  --chart-1: hsl(220.47 98.26% 36.08%);
  --chart-2: hsl(210 40% 96.1%);
  --chart-3: hsl(210 40% 96.1%);
  --chart-4: hsl(210 40% 99.1%);
  --chart-5: hsl(220.47 101.26% 36.08%);
  --radius: 0.5rem;
}
.dark {
  --background: hsl(233 18% 19%);
  --foreground: hsl(173 24% 93%);
  --card: hsl(233 18% 17%);
  --card-foreground: hsl(173 24% 98%);
  --popover: hsl(233 18% 16%);
  --popover-foreground: hsl(0 0% 100%);
  --primary: hsl(44 100% 71%);
  --primary-foreground: hsl(44 100% 11%);
  --secondary: hsl(44 30% 25%);
  --secondary-foreground: hsl(44 30% 85%);
  --muted: hsl(233 12% 23%);
  --muted-foreground: hsl(233 12% 73%);
  --accent: hsl(233 18% 34%);
  --accent-foreground: hsl(233 18% 94%);
  --destructive: hsl(10 90% 57%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(233 8% 24%);
  --input: hsl(233 8% 27%);
  --ring: hsl(44 100% 71%);
  --chart-1: hsl(44 100% 71%);
  --chart-2: hsl(44 30% 25%);
  --chart-3: hsl(233 18% 34%);
  --chart-4: hsl(44 30% 28%);
  --chart-5: hsl(44 103% 71%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 0.25rem; /* 2px */
  height: 0.25rem; /* 2px */
}

::-webkit-scrollbar-track {
  background-color: #f2f4f7; /* bg-gray-100 */
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f4f7;
}

::-webkit-scrollbar-thumb {
  background-color: #eaecf0; /* bg-gray-300 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d0d5dd;
}

/* Dark mode */
.dark ::-webkit-scrollbar-track {
  background-color: #475467; /* bg-neutral-700 */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #98a2b3; /* bg-neutral-500 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #667085;
}
